.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.venv
.vscode
/src/strigiform/util/auth.py
.ENV
data/*
database.ini
.DS_Store
vault-data
.notebooks
